
 <div class ="main_content">
 	<div id = "recipe_top" class ="row">
 		<div class= "col-md-4">
 			<%= image_tag @recipe.image.image.url, class: "recipe_image" %>
 		</div>
 		<div class = "col-md-8">
 			<div id = "recipe_info">
 			<h1><%=@recipe.title%></h1>
			<p><%=@recipe.description%>
			</div>
		</div>
	</div>

	<div class= "row">
		<div class ="col col-md-6">
			<div id = "ingredients">
				<p>Ingredients</p>
				<ul>
					<%@recipe.ingredients.each do |i|%>
					<li><%= i.name%></li>
					<%end%>
				</ul>
			</div>
		</div>

	<div class ="col col-md-6">
		<div id = "directions">
			<p>Steps</p>
			<ol>
				<%@recipe.directions.each do |d|%>
					<li><%= d.steps%></li>
				<%end%>
			</ol>
		</div>
	</div>
</div>


<p><%=link_to "Edit", edit_recipe_path, class: "btn btn-default"%>
<%=link_to "Delete", recipe_path, method: :delete, data: {confirm: "sure"}, class: "btn btn-danger"%>